.aboutbackground {
    background-color: #F8F8F8;
}

.abouttitlecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutbox {
    width: 50px;
    height: 50px;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9C78EE;
    z-index: 1;
    -webkit-box-shadow:0px 0px 15px 4px #9c78ee ;
    -moz-box-shadow:0px 0px 15px 4px #9c78ee ;
    box-shadow:0px 0px 10px 0px #9c78ee ;
}