.navlink {
    position: relative;
    text-decoration: none;
  }
  
  .navlink::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 2px;
    background-color: #262626;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  .navlink:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

  .navbar {
    background-color: #F8F8F8;
  }
  .navbarbrand {
    color: #262626;
  }

  .navbarlinks {
    color: #262626;
  }

  